
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.metadata
analysis_options.yaml
apphosting.yaml
bemeow.iml
devtools_options.yaml

app.*.symbols
app.*.map.json

/android
/assets
/linux
/ios
/macos
/public
/test
/web
/windows

/lib/auth/fbconfig.dart
